:root {
  --bg: #f5f5f5;
  --panel: #fff;
  --text: #222;
  --muted: #777;
  --green: #18a83d;
  --yellow: #ffd400;
  --grad: linear-gradient(90deg, var(--green), var(--yellow));
  --shadow: 0 10px 30px rgba(0, 0, 0, .08);
  
  /* Variáveis de raio de borda para consistência */
  --radius-sm: 14px;
  --radius: 22px;
  --radius-lg: 32px;
}
